<!DOCTYPE html>
<html>

<head>
    <title>
        <%= asset.title %>
    </title>

    <meta property="og:title" content="<%= asset.title %>" />
    <meta property="og:description" content="ArtX Market :: Built on Bitcoin" />
    <meta property="og:image" content="<%= file.fileName %>" />
    <meta property="og:url" content="<%= asset.link %>" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@artxmarket" />
    <meta name="twitter:title" content="<%= asset.title %>" />
</head>

<body>
</body>

</html>
