<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            font-family: Roboto, Helvetica, Arial, sans-serif;
            font-weight: 400;
            background-color: #282c34;
            color: white;
        }

        a {
            text-decoration: none;
            color: #fff;
        }

        a:hover {
            text-decoration: underline;
            color: #6699cc;
        }

        a:visited {
            color: #fff;
        }

        .container {
            display: flex;
        }

        .left,
        .right {
            width: 50%;
            padding: 16px;
        }

        table {
            width: 100%;
            border-spacing: 0;
        }

        tr {
            border-bottom: 1px solid grey;
        }

        th,
        td {
            padding: 15px;
            text-align: left;
        }

        th:first-child,
        td:first-child {
            width: 1px;
            white-space: nowrap;
        }

        .pfp {
            width: 30px;
            height: 30px;
            object-fit: cover;
            margin-right: 16px;
            border-radius: 50%;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="left">
            <img src="<%= nft.image %>" alt="<%= token.asset.title %> (<%= asset.title %>)" style="width: 100%">
        </div>
        <div class="right">
            <table>
                <tbody>
                    <tr>
                        <td>
                            Token:
                        </td>
                        <td>
                            <a href="<%= token.link %>">
                                <%= token.asset.title %>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Edition:
                        </td>
                        <td>
                            <a href="<%= nft.link %>">
                                <%= asset.title %>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Collection:
                        </td>
                        <td>
                            <div style="display: flex; align-items: center;">
                                <img src="<%= collection.image %>" class="pfp" />
                                <a href="<%= collection.link %>">
                                    <%= collection.title %>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Owner:
                        </td>
                        <td>
                            <div style="display: flex; align-items: center;">
                                <img src="<%= owner.image %>" class="pfp" />
                                <a href="<%= owner.link %>">
                                    <%= owner.name %>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Collected:
                        </td>
                        <td>
                            <%= asset.updated %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Creator:
                        </td>
                        <td>
                            <div style="display: flex; align-items: center;">
                                <img src="<%= creator.image %>" class="pfp" />
                                <a href="<%= creator.link %>">
                                    <%= creator.name %>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Minted:
                        </td>
                        <td>
                            <%= asset.created %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            JSON:
                        </td>
                        <td>
                            <a href="nft.json">
                                nft.json
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>
