<!DOCTYPE html>
<html>

<head>
    <title>
        <%= name %>
    </title>

    <meta property="og:title" content="<%= name %>" />
    <meta property="og:description" content="<%= tagline %>" />
    <meta property="og:image" content="<%= image %>" />
    <meta property="og:url" content="<%= link %>" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@artxmarket" />
    <meta name="twitter:title" content="<%= name %>" />
</head>

<body>
    <a href="<%= link %>">
        <img src="<%= image %>" alt="<%= name %>"/>
    </a>
</body>

</html>
